@{
    ViewData["Title"] = "Mummy Tracker";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Mummy Tracker</h1>
        <p class="lead">
            Welcome to Mummy Tracker! During multiple years of study at Fag el-Gamous, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial depth, hair color, wrapping (including information about the textiles used), sex, age, bone (including skull and teeth) dimensions, items accompanying the mummy, and more.
            And, of course, there are many, many photographs. This website is a place where aspects of this information can be shared with researchers and interested members of the public around the world.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("BurialList")" role="button">View Burial Information</a>
        </p>
    </div>
    <div class="text-center">
        <img src="~/img/excavation.jpg" class="img-fluid" alt="Excavation photo">
    </div>
</div>
