@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
@model List<Burialmain>

<h1>Burial List</h1>

@foreach (Burialmain b in Model)
{
     <p>@b.Id</p>
}

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BurialView">Burial</a>
