@{
    ViewData["Title"] = "Home Page";
}
@*index page that describes the project and has a link to view the burial information*@
<div class="text-center">
    <u><h1 class="display-4">Mummy Tracker</h1></u>
    <p>
        Welcome to Mummy Tracker! During multiple years of study at Fag el-Gamous, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial depth, hair color, wrapping (including information about the textiles used), sex, age, bone (including skull and teeth) dimensions, items accompanying the mummy, and more.
        And, of course, there are many, many photographs. This website is a place where aspects of this information can be shared with researchers and interested members of the public around the world. Click here to view our <a asp-action="BurialView">burial information page</a>.
    </p>
    <img src="~/img/excavation.jpg" />
</div>
