@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Unsupervised Analysis Results</h1>

<h2>PCA 2 Dimentional Graph</h2>
<img src="~/img/uplot1.jpg" />
<br />
<h2>Length - Depth Scatterplot</h2>
<img src="~/img/uplot2.jpg" width="90%"/>
<br />

<h2>Conclusions</h2>
<p>
    From the first graph, we notice that it is in a distinct V shape. The PCA or Principle Component Analysis lowers 
    the number of dimensions while still keeping the differing qualities of the individual data points. This is very 
    important for this data set because of the extremely large number of differing variables/attributes. When we narrow
    it down to just 2 dimensions the data comes into a sort of V shape with the tip of the V having the most density of
    data points. This could indicate that there are 2 main clusters shown by the tails, but that there is also a large 
    mixing of those clusters for a majority of the data.
</p>
<p>
    The second graph shows the depth and length and how those two attributes relate to the clustering analysis. 
    Looking at the graph, we see that there are 2 distinct lines, one representing shorter graves (likely child burials)
    and the other representing longer, adult graves. Around a depth of one meter, there is a densely packed band of darker
    clusters, and paired with the theory that older graves are deeper in the ground, this suggests that there was a period
    of time where many died and burial practices changed. This could have been caused by a natural disaster or war, and
    this would result in more rushed burials without as much adornment. Later, burial practices returned to normal, 
    represented by the higher light band of dots.
</p>